@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #fdfcfe;
  color: #333;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome {
  font-size: 36px;
  margin-bottom: 40px;
  color: #b84ba4;
}

.main-button {
  background-color: #d46cbe;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.main-button:hover {
  background-color: #b84ba4;
}

.mypage-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .mypage-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .mypage-icon img:hover {
    transform: scale(1.1);
  }
  